fastapi==0.115.5
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1

sqlalchemy==2.0.36
pymysql==1.1.1

langchain-openai==0.2.9
langchain-core==0.3.21
openai==1.55.0

boto3==1.35.63
paramiko==3.4.1
pandas==2.2.3
openpyxl==3.1.5

cryptography==43.0.3

python-multipart==0.0.12
